#container * {
}
			
body {				
	background: #F7F7F7;
	font-family: "Avenir", "Futura", "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;				
	min-width: 18rem;
}
			
#container {
	background: #FEFEFE;
	padding: 2rem;
	max-width: 52rem;
				
	/* Calc — http://caniuse.com/calc */
				
	/* Fallback */
	margin: 0.1rem 0.1rem 0.1rem 5%;
				
	/* 5.9rem = ( 480px / (16px / 1rem) ) * 20% - 0.1rem */
	margin: 0.1rem 0.1rem 0.1rem -webkit-calc(20% - 5.9rem);
	margin: 0.1rem 0.1rem 0.1rem -moz-calc(20% - 5.9rem);
	margin: 0.1rem 0.1rem 0.1rem calc(20% - 5.9rem);
}
			
header, nav { white-space: nowrap; }
			
header, nav, article, footer {
	display: block;
}
									
nav ul {
	display: block;
	list-style: none outside;
	overflow-x: visible;
	padding: 0;
}
			
nav ul li {
	display: inline-block;
}
			
nav ul li a {
	padding: 0.5em;
}
			
article {
	margin-bottom: 2rem;
}
			
			
p, article * {
	font-size: 1.1rem;
	line-height: 1.9em;
}
			
article figure {
	padding: 0;
	margin: 2.25rem 0;
	text-align: center;
}
			
article figure img {
	box-shadow: 0 0 0 0.5rem lightgrey, 0 0 0 1rem #F7F7F7;
	width: 50%;
	max-width: 100%;
}
			
article figure a img:hover {
	outline: solid #B9D5F9 0.25rem;
}
						
h1 {
	margin: 0 0 0.67em 0;
}
						
a { color: #005F9E; text-decoration: none; }
a:hover { 
	text-decoration: underline; 
	background-color: #B9D5F9;
	border-radius: 0.25em;
}
a:visited { color: #004879; }
			
footer {
	color: #999999;
}
			
/* Really, really big footer */
#really, #really-really { display: none; }
